<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Rocketseat</title>
        {% endblock %}


        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/courses">Conteúdos</a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>


